<!DOCTYPE html>
<html>
<head>
    
<meta charset="utf-8">
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<link rel="stylesheet" href="../../stylesheets/stylesheet.css">
</head>
<body>


  <div class="container">
    <h1>Account Cancellation</h1>
    <p>Submit an application to permanently cancel the account</p>
    <hr>

    <label for="userid"><b>User ID</b></label>
    <input id="userid" type="text" placeholder="Enter user ID" name="uid" required>
      
    <label for="accountid"><b>Account ID</b></label>
    <input id="accountid" type="text" placeholder="Enter account ID" name="aid" required>

    <label for="psw"><b>Password</b></label>
    <input id="psw" type="password" placeholder="Enter Password" name="psw" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input id="psw-repeat" type="password" placeholder="Repeat Password" name="psw-repeat" required>
    

    Are you sure you want account cancellation? <input type="checkbox" id="myCheck"  onclick="myFunction()">

<script>
function myFunction() {
    var checkBox = document.getElementById("myCheck");
    var text = document.getElementById("confirm");
    if (checkBox.checked == true){
        text.style.display = "block";
    } else {
       text.style.display = "none";
    }
}
</script>

    <div class="clearfix">
      <button id="cancel" type="button" class="cancelbtn">Cancel</button>
      <button id="confirm" type="button" class="btn" style="display: none">Confirm Cancellation</button>
    </div>
  </div>
<script type="text/javascript" src="../../javascripts/DeleteUser.js"></script>
  <script type="text/javascript" src="../../javascripts/SendReq.js"></script>
</body>
</html>