<!DOCTYPE html>
<html>
    <head><link rel="stylesheet" type="text/css" href="stylesheets/counter.css"></head>
    <body id="counterBackground" background="images/counter_bkg.jpg">

        <div class="yours">
            <div class="yours_sub">
                <p>
                    Yours
                </p>
            </div>
            <div class="yoursIcon">

                <a id="yoursHref" href="" target = "_blank"> <img id="yoursIcon" src=""></a>

            </div>
            <div class="yoursStat" id="yoursStat">
                <p id="yoursAllInfo">

                </p>
            </div>

            
        </div>
        <div class="counter">
            <div class="counter_sub">
                <p>
                    Counter
                </p>
            </div>
            <div class="counterIcon">
                <a id="counterHref" href="" target = "_blank"> <img id="counterIcon" src=""></a>
            </div>
            <div class="counterStat" id="counterStat">
                <p id="counterAllInfo">

                </p>
            </div>

        </div>

        <div class="text">
            <p class="strategy">
                <em>Strategy</em>
            </p>
            <p class="main-text" id = "strategy">
                Sorry. You have no ways to beat your counter.
            </p>
        </div>


        <div class="lol_logo">
        <a id="logo" href="" target = "_blank"> <img src="../images/lol_icon_new.png"></a>

        </div>
        
        <div class="dropdown">
                <div id="myDropdown" class="dropdown-content">
                    <!--<a href="https://www.google.ca/" target = "_blank"> -->
                          <!--<img id="yours-item1" src="../images/demo.png" style="width:100px;height:100px;border:none;">-->
                          <!--<p id="item1name" class="itemname">Infinity Edge</p>-->
                    <!--</a>-->
                    <!--<a href="https://www.google.ca/" target = "_blank"> -->
                          <!--<img id="yours-item2" src="../images/demo.png" style="width:100px;height:100px;border:none">-->
                          <!--<p id="item2name" class="itemname">Boots</p>-->
                    <!--</a>-->
                </div>
        </div>
        <script type="text/javascript" src="javascripts/SendReqWithFn.js"></script>
        <script type="text/javascript" src="javascripts/counterHelper.js"></script>
        <script>
        

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }
        

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn_counter')) {

            var dropdowns = document.getElementsByClassName("dropdown-content-counter");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }
        </script>
    </body>
</html>