<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../stylesheets/items.css">

</head>
<body>
    
    <nav>
        <a class="nav" id="goBack">Back</a>
    </nav>
    
    <div class="containerTab" id="main">
    </div>
    <script type="text/javascript">
        document.getElementById("goBack").addEventListener("click", () => {
            window.history.back();
        });
    </script>
    <script type="text/javascript" src="../javascripts/SendReqWithFn.js"></script>
    <script type="text/javascript" src="../javascripts/singleItemTest.js"></script>
</body>
</html>