<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="stylesheets/items.css">

</head>
<body>
    
<h1> Items</h1>
    
    <nav>
        <a class="nav" id="goBack">Back</a>
    </nav>

<div class="navbar">
    <div class="dropdown">
        <button class="dropbtn" onclick="filterSelection('all')"> Show all</button></div>
    
    <div class="dropdown">
        <button class="dropbtn" onclick="filterSelection('attack')"> Attack
        <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <div class="attack"><button class="btn" onclick="filterSelection('ad')">Damage</button></div>
          <div class="attack"><button class="btn" onclick="filterSelection('cs')">Critical Strike</button></div>
          <div class="attack"><button class="btn" onclick="filterSelection('as')">Attack Speed</button></div>
          <div class="attack"><button class="btn" onclick="filterSelection('ls')">Life Steal</button></div>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn" onclick="filterSelection('defense')"> Defense
        <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <div class="defense"><button class="btn" onclick="filterSelection('health')">Health</button></div>
          <div class="defense"><button class="btn" onclick="filterSelection('mr')">Magic Resist</button></div>
          <div class="defense"><button class="btn" onclick="filterSelection('arm')">Armor</button></div>
          <div class="defense"><button class="btn" onclick="filterSelection('hr')">Health Regen</button></div>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn" onclick="filterSelection('magic')"> Magic
        <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <div class="magic"><button class="btn" onclick="filterSelection('ap')">Ability Power</button></div>
          <div class="magic"><button class="btn" onclick="filterSelection('cdr')">CD Reduction</button></div>
          <div class="magic"><button class="btn" onclick="filterSelection('mana')">Mana</button></div>
        </div>
    </div>    
    <div class="dropdown"><button class="dropbtn" onclick="filterSelection('consume')"> Consumable</button></div>    
    <div class="dropdown"><button class="dropbtn" onclick="filterSelection('movement')"> Movement</button></div>    
   
</div>

<div class="item" id="main">
        
    <!--<div class="filterDiv magic defense mr health mana cdr">-->
        <!--<a id="3036" onClick="getLinkWithID(this.id)">-->
            <!--<img class="itemimg" alt="Abyssal Mask" src="images/abyssalmask.png">-->
            <!--<p class="itemname">Abyssal Mask</p>-->
        <!--</a>-->
    <!--</div>-->
        <!---->
    <!--<div class="filterDiv attack ad">-->
        <!--<a id="3087" onClick="getLinkWithID(this.id)">-->
            <!--<img class="itemimg" alt="B.F. Sword" src="images/bfsword.png">-->
            <!--<p class="itemname">B.F. Sword</p>-->
        <!--</a>-->
        <!---->
    <!--</div>-->
    <!--<div class="filterDiv consume">-->
        <!--<a id="3087" onClick="getLinkWithID(this.id)">-->
            <!--<img class="itemimg" alt="Control Ward" src="images/controlward.png">-->
            <!--<p class="itemname">Control Ward</p>-->
        <!--</a>-->
    <!--</div>-->
    <!---->
    <!--<div class="filterDiv attack as cs movement">-->
        <!--<a id="3087" onClick="getLinkWithID(this.id)">-->
            <!--<img class="itemimg" alt="Statikk Shiv" src="images/statikkshiv.png">-->
            <!--<p class="itemname">Statikk Shiv</p>-->
        <!--</a>-->
    <!--</div>-->
    <!---->
    <!---->
    <!--<div class="filterDiv attack ad ls">-->
        <!--<a id="3087" onClick="getLinkWithID(this.id)">-->
            <!--<img class="itemimg" alt="Bilgewater Cutlass" src="images/bilgewatercutlass.png">-->
            <!--<p class="itemname">Bilgewater Cutlass</p>-->
        <!--</a>-->
    <!--</div>-->
    <!--<div class="filterDiv defense health hr">-->
        <!--<a id="3087" onClick="getLinkWithID(this.id)">-->
            <!--<img class="itemimg" alt="Doran's Shield" src="images/doransshield.png">-->
            <!--<p class="itemname">Doran's Shield</p>-->
        <!--</a>-->
    <!--</div>-->
    <!--<div class="filterDiv magic ap mana cdr">-->
        <!--<a id="3087" onClick="getLinkWithID(this.id)">-->
            <!--<img class="itemimg" alt="Lost Chapter" src="images/lostchapter.png">-->
            <!--<p class="itemname">Lost Chapter</p>-->
        <!--</a>-->
    <!--</div>-->
    <!--<div class="filterDiv movement">-->
        <!--<a id="3087" onClick="getLinkWithID(this.id)">-->
            <!--<img class="itemimg" alt="Ionian Boots of Lucidity" src="images/ionianbootsoflucidity.png">-->
            <!--<p class="itemname">Boots of Lucidity</p>-->
        <!--</a>-->
    <!--</div>-->
    <!---->
    <!--<div class="filterDiv cs">-->
        <!--<a id="3087" onClick="getLinkWithID(this.id)">-->
            <!--<img class="itemimg" alt="Brawler's Gloves" src="images/brawlersgloves.png">-->
            <!--<p class="itemname">Brawler's Gloves</p>-->
        <!--</a>-->
    <!--</div>-->
    <!---->
    <!--<div class="filterDiv as">-->
        <!--<a id="3087" onClick="getLinkWithID(this.id)">-->
        <!--<img class="itemimg" alt="Dagger" src="images/dagger.png">-->
        <!--<p class="itemname">Dagger</p>-->
        <!--</a>-->
    <!--</div>-->
    <!---->
    <!--<div class="filterDiv as cs movement">-->
        <!--<a id="3087" onClick="getLinkWithID(this.id)">-->
            <!--<img class="itemimg" alt="Zeal" src="images/zeal.png">-->
            <!--<p class="itemname">Zeal</p>-->
        <!--</a>-->
    <!--</div>-->
    <!---->
    <!--<div class="filterDiv as" onclick="openTab('KircheisShard');">-->
        <!--<a id="3087" onClick="getLinkWithID(this.id)">-->
            <!--<img class="itemimg" alt="Kircheis Shard" src="images/kircheisshard.png">-->
            <!--<p class="itemname">Kircheis Shard</p>-->
        <!--</a>-->
    <!--</div>-->
    
    </div>
    
    <script>
filterSelection('all')
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("filterDiv");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    removeClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) addClass(x[i], "show");
  }
}

function addClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function removeClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);     
    }
  }
  element.className = arr1.join(" ");
}

// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
        

//function openTab(tabName) {
//  var i, x;
//  x = document.getElementsByClassName("containerTab");
//  for (i = 0; i < x.length; i++) {
//     x[i].style.display = "none";
//  }
//  document.getElementById(tabName).style.display = "block";
//}

</script>
<script type="text/javascript">
    document.getElementById("goBack").addEventListener("click", () => {
        window.history.back();
    });
    function getLinkWithID(id) {
        sendReq("GET", "/testSingleItem/" + id, "/testSingleItem/" + id, "");
    }

    function buildItemsHTML(item) {
        const id = item.split(":")[0];
        const name = item.split(":")[1];
        const type = item.split(":")[2];
        let lower = name.toLowerCase();
        if (name.includes(".") || name.includes("'")) {
            lower = name.toLowerCase().replace(/\./g, "").replace(/\'/g, "");
        }
        lower = lower.split(" ").join("");
        let div = document.createElement("div");
        div.className = "filterDiv " + type + " show";
        div.innerHTML =
            '<a id="' + id + '" onClick="getLinkWithID(this.id)">\n' +
            '<img class="itemimg" alt="'+ name + '" src="images/' + lower + '.png">\n' +
            '<p class="itemname">' + name + '</p>\n' +
            '</a>';
        document.getElementById("main").appendChild(div);
    }
    let allItems = ["3001:Abyssal Mask:magic defense mr health mana cdr"
                ,"1038:B.F. Sword:attack ad"
                ,"2055:Control Ward:consume"
                ,"3087:Statikk Shiv:attack as cs movement"
                ,"3144:Bilgewater Cutlass:attack ad ls"
                ,"1054:Doran's Shield:defense health hr"
                ,"3802:Lost Chapter:magic ap mana cdr"
                ,"3158:Ionian Boots of Lucidity:movement"
                ,"1051:Brawler's Gloves:cs"
                ,"1042:Dagger:as"
                ,"3086:Zeal:as cs movement"
                ,"2015:Kircheis Shard:as"];
    allItems.forEach(buildItemsHTML);
</script>
<script type="text/javascript" src="javascripts/SendReq.js"></script>

</body>
</html>

