<!DOCTYPE html>
<html>
<head>

<head><link rel="stylesheet" type="text/css" href="../stylesheets/jinx.css"></head>
</head>
<body id="background" background="../images/jinx_bkg.jpg">

<div class="bg" id="championBackground">

</div>

    
<div class="btns">

    <button class="btn" id="saveButton" onclick="saveMyChamp()">Save This Champion</button>
    <p id="saved"></p>    
    <button class="btn" id="login_button" onclick="document.getElementById('id01').style.display='block'">Login</button>
    <button class="btn" id="against" onclick="gotoCounter()">Play With It</button>
    <button class="btn" id="backButton" onclick="goBack();">Go Back</button>
</div>
    
<div id="id01" class="modal">
  
  <form class="modal-content animate" action="/action_page.php">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="../images/lol_icon_new.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input id="uname" value="" type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input id="psw" value="" type="password" placeholder="Enter Password" name="psw" required>
        
      <button class="inner_login_button" type="button" id="loginButton">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div> 

<script type="text/javascript" src="../javascripts/SendReqWithFn.js"></script>
<script type="text/javascript" src="../javascripts/SendReq.js"></script>
<script type="text/javascript" src="../javascripts/singleChampion.js"></script>
<script>

var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
};

var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
};

function goBack() {
    let prev = "../champions";
    let current = window.location.href;
    if (current.includes("=")) {
        let accountID = current.slice(current.indexOf("=") + 1).split("/")[0];
        prev += "=" + accountID;
    }
    location.href = prev;
}
</script>
</body>
</html>
