<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TestIt</title>
</head>
<body>
    <h1>Test web</h1>
    <p id = "demo">Login</p>
    Username: <br>
    <input id="username" type="text" value="">
    <br>
    Password: <br>
    <input id="password" type="password" value="">
    <br><br>
    <button id="button">Login</button>
    <br><br>
    <button id="jump">toHome</button>
    <script src="javascripts/loginNregister.js" type="text/javascript"></script>
</body>
</html>