<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
   
        <title>TOOLBOX PROJECT FOR LOL</title>
        <meta name="description" content="toolbox project for lol">
        <link rel="stylesheet" href="../public/stylesheets/stylesheet.css">
    </head>

    <body>
        
        <img id="logo" alt="logo of lol toolbox" src="../public/images/logo.png">
        <p id="title">LOL TOOLBOX</p>
        
        
            <nav>
                <a class="nav" href="login.html">Login</a>
                <a class="nav" href="signup.html">Signup</a>
            </nav>
        
        
        <div id="champion">
            <a href="champions.html">
            <img class="imgeffect" alt="championcover" src="../public/images/championcover.jpg">
               <p class="subtitle">CHAMPIONS</p> 
            </a>
        </div>
        
         <div id="item">
            <a href="items.html">
            <img class="imgeffect" alt="itemcover" src="../public/images/store.jpg">
               <p class="subtitle">ITEMS</p> 
            </a>
        </div>
            
        <div id="counter">
            <a href="counters.html">
            <img class="imgeffect" alt="rankcover" src="../public/images/counter.jpg">
               <p class="subtitle">COUNTER</p> 
            </a>
        </div>
      
       
        
        
<!--        <footer id="footer">designed by DB101</footer>-->

    </body>
</html>