<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
   
        <title>TOOLBOX PROJECT FOR LOL</title>
        <meta name="description" content="toolbox project for lol">
        <link rel="stylesheet" href="stylesheets/stylesheet.css">
    </head>

    <body>
        
        <img id="logo" alt="logo of lol toolbox" src="images/logo.png">
        <p id="title">LOL TOOLBOX</p>
        
        
            <nav>
                <a id="login" class="nav" href="login">Login</a>
                <a id="signup" class="nav" href="signup">Signup</a>
            </nav>
        
        
        <div id="champion">
            <a href="champions">
            <img class="imgeffect" alt="championcover" src="images/championcover.jpg">
               <p class="subtitle">CHAMPIONS</p> 
            </a>
        </div>
        
         <div id="item">
            <a href="items">
            <img class="imgeffect" alt="itemcover" src="images/store.jpg">
               <p class="subtitle">ITEMS</p> 
            </a>
        </div>
            
        <div id="counter">
            <a href="counters.html">
            <img class="imgeffect" alt="rankcover" src="images/counter.jpg">
               <p class="subtitle">COUNTER</p> 
            </a>
        </div>
      
        <!--<script>-->
            <!--let current = window.location.href;-->
            <!--if (current.indexOf("=") !== -1) {-->
                <!--let account = current.slice(current.indexOf("=") + 1);-->
                <!--console.log(account);-->
                <!--let log = document.getElementById("login");-->
                <!--let sign = document.getElementById("signup");-->
                <!--log.innerText = account;-->
                <!--sign.innerText = "SignOut";-->
                <!--log.href = "settings&account=" + account;-->
                <!--sign.href = "toolbox";-->
            <!--}-->
        <!--</script>-->
        <script src="javascripts/ToolBoxPage.js" type="text/javascript"></script>
        <script src="javascripts/SendReq.js" type="text/javascript"></script>
        
<!--        <footer id="footer">designed by DB101</footer>-->

    </body>
</html>