h2{
    text-align: center;
}




.Container img {
    border-radius: 100%;
    margin: auto;
}



#myBtnContainer {
    margin-left: 30%;
    width: 50%;
    border: 5px;
}

#myBtnContainer1 {
    margin-top: 10px;
    margin-left: 35%;
    width: 35%;
    border: 3px;
    
}

.Container {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-decoration: none;
}

h2 img{
    width: 50%;
    height: auto;
    
}
