body{    
    border:0px solid black;
    max-width: inherit;
    max-height: inherit;
    position:relative;
}

nav{
    font-family: "impact";
    font-size: 20px;
    position: fixed;
}


.filterDiv {
    float: left;
    color: #ffffff;
    text-align: left;
    display: none;
    padding-top: 50px;
    padding-right: 4px;
}


.show{
    display: block;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
  display: block;
}



.itemname{
    font-family: sans-serif;
    font-size: 10pt;
    text-decoration:none;
    color:black;
    line-height: 0px;
    text-align: center;

}

a:link{
    text-decoration: none;
}

img{
    width: 116px;
    height:112px;
}

.item{
    overflow: hidden;
    border: 1px solid;
    position: absolute;
    top: 180px;
}


.itemimg:{
    position: relative;
    
    
    
}